<h1>Heading1</h1>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam nam perspiciatis tempora unde minima quod suscipit hic officiis assumenda cupiditate libero nisi sapiente doloremque molestias ea, alias debitis iure non.
</p>


<button color="primary" mat-raised-button>Button 1</button>
<button color="accent" mat-raised-button>Button 2</button>

<!-- 
<h1>Heading 1</h1>
<h2>Heading 2</h2> -->

<!-- <button 
(click)="openDialog()"
mat-raised-button>Open Dialog</button> -->

<!-- <mat-tab-group>
  <mat-tab label="Billing">
    Content of the Billing tab.
  </mat-tab>
  <mat-tab label="Shipping">
    content of the Shipping tab.
  </mat-tab>
</mat-tab-group> -->

<!-- <span matTooltip="Here is my tooltip"
matTooltipPosition="right">Some text </span> -->

<!-- 
<mat-progress-spinner
*ngIf ="isLoading"
 mode="indeterminate" >
   </mat-progress-spinner> -->

<!-- 
<mat-chip-list>
    <mat-chip
    *ngFor="let category of categories"
    (click)= "setectCategory(category)"
    [selected]="category.selected">{{category.name}}</mat-chip> 
  </mat-chip-list> -->

<!-- <button mat-button>Click me!</button>
<button  color="primary" mat-raised-button> primary </button>
<button  color="accent" mat-raised-button> accent </button>
<button  color="warn" mat-raised-button> warn </button>
<button  color="primary" mat-fab> <mat-icon> bug_report  </mat-icon> </button> -->

<!-- 
<mat-form-field>
    <input
    (focus)="BirthDate.close()"
     [min]="minDate"
     [max]="maxDate"
     type="text" matInput [matDatepicker]="BirthDate">
    <mat-datepicker-toggle matSuffix [for]="BirthDate"></mat-datepicker-toggle>
    <mat-datepicker #BirthDate touchUi="true"> </mat-datepicker>
  </mat-form-field> -->
   
<!-- 
  <mat-form-field>
    <input
    ngModel
    #username="ngModel"
    name="username"
    matInput placeholder="Username">
    <mat-hint>Type a unique username.</mat-hint>
    <span matSuffix>@domain.com</span>
    <span matPrefix>admin.</span>
    <mat-error *ngIf="username.invalid && username.errors.required"
    >The username field name is required.</mat-error>
  </mat-form-field> -->

  <!-- <mat-form-field>
    <textarea matInput matTextareaAutosize rows="2"></textarea>
  </mat-form-field> -->

<!-- <mat-select [(ngModel)] ="color" >
  <mat-option
  *ngFor="let color of colors"
  [value]="color.id">{{color.name}}</mat-option>
</mat-select> -->
   
<!-- <mat-radio-group>
    <mat-radio-button value="1">Male</mat-radio-button>
    <mat-radio-button value="0">Female</mat-radio-button>
  </mat-radio-group>    -->
     
  <!-- <mat-checkbox
      #showDetails
      [value]=""
      checked="isChecked"
      (change)="onChange($event)"
      >Show details.</mat-checkbox>
 <div *ngIf="showDetails.checked">Show details...</div> -->

 <router-outlet></router-outlet>
