@import "~@angular/material/_theming";
@include mat-core();

//Define a custome theme
$app-primary : mat-palette($mat-blue,600);
$app-accent : mat-palette($mat-yellow,700);
$app-warn : mat-palette($mat-red);

$app-theme : mat-light-theme($app-primary,$app-accent,$app-warn);

@include angular-material-theme($app-theme);

//Define custome typography
$app-typography : mat-typography-config(
    $font-family : ' "Opem Sans", "Helvetica Neue", sans-serif'
);
 @include angular-material-typography($app-typography);













// @mixin soft-border($border-radius) {
//     border: 1px solid #ccc;
//     border-radius: $border-radius;
//     padding: 10px;
// }
// .box{
// @include soft-border(5px);
// }
// .modern-box{
//     @include soft-border(10px);
// }

// $color: blue;
// h1{
// color: $color;
// } 
// h2{
// color: $color;
// }